<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    a {
      text-decoration: none;
      padding: 10px;
      background-color: brown;
      border-radius: 20px;
      color: white;
      font-weight: bold;
    }

    div {
      max-width: 800px;
      margin: auto;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div>
    <a href="./accordion/index.html" target="_blank">accordion</a>
    <a href="./alerts/index.html" target="_blank">alerts</a>
    <a href="./badge/index.html" target="_blank">badge</a>
    <a href="./breadcrumb/index.html" target="_blank">breadcrumb</a>
    <a href="./btn-group/index.html" target="_blank">btn-group</a>
    <a href="./button/index.html" target="_blank">button</a>
    <a href="./card/index.html" target="_blank">card</a>
    <a href="./Carousel/index.html" target="_blank">Carousel</a>
    <a href="./custom-card/index.html" target="_blank">custom-card</a>
    <a href="./responsive-card/index.html" target="_blank">responsive-card</a>
    <!-- <label for="file">Downloading progress:</label>
    <progress id="file" value="32" max="100"> 32% </progress> -->


  </div>
</body>

</html>